# <p style="text-align: center;">Analysis of Fastest Cars</p>
### <p style="text-align: center;">by Hunter LaValley</p>

> What is this?

I analyzed the 13 fastest cars that populated with a simple Google search https://www.motor1.com/car-lists/fastest-cars-in-the-world/.
I take the given top speed, acceleration, price etc and generate realistic observations of this data. This is because, suppose you wanted one of these cars: would you observe exactly what the source quotes? No, when has a car ever performed as well as the saleman promises? 

So I used Numpy RNG's, arrays, and generated a ton of data, then organized it into dataframes using Pandas. Then I used what I know about physics to calculate various things like error propagation. Finally, I plotted it using Plotly, Seaborn and Matplotlib and organized the results.

In [3]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import cufflinks as cf
import seaborn as sns
import plotly.express as px
%matplotlib inline

# Make Plotly work in your Jupyter Notebook
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
# Use Plotly locally
cf.go_offline()

# Cars

In [4]:
#Scenario: 5 random untrained people tested each of the fastest cars and achieved a top speed

#These are the 5 measurements for each recorded top speed for each run based on a reference
#https://www.motor1.com/car-lists/fastest-cars-in-the-world/
#I chose what I beleive to be a reasonable range of experiemental results


#All analysis is based on the results obtained by 
#running the cells once and writing to Excel once they are all marged into a single dataframe

#These are the top speeds::
Koenigsegg_Jesko_Absolut = np.random.randint(300,330, size=(5,1))
Hennessey_Venom_F5 = np.random.randint(281,311, size=(5,1))
Bugatti_Bolide = np.random.randint(280,310, size=(5,1))
Bugatti_Chiron_Super_Sport300 = np.random.randint(26,304, size=(5,1))
SSC_Tuatara = np.random.randint(250,283, size=(5,1))
Rimac_Nevera = np.random.randint(200,258, size=(5,1))
Aston_Martin_Valkyrie  = np.random.randint(200,251, size=(5,1))
Koenigsegg_Gemera  = np.random.randint(200,250, size=(5,1))
Pagani_Huayra_BC_Pacchetto_Tempesta = np.random.randint(200,249, size=(5,1))
Lamborghini_Aventador_LP780_4_Ultimae_Coupe  = np.random.randint(175,220, size=(5,1))
Pininfarina_Battista  = np.random.randint(170,218, size=(5,1))
Mercedes_AMG_One  = np.random.randint(170,217, size=(5,1))
Ford_GT  = np.random.randint(150,216, size=(5,1))

## These are the dataframes containing the top speed for each of the 5 runs per vehicle
df_speed1 = pd.DataFrame(Koenigsegg_Jesko_Absolut, ['Koenigsegg Jesko Absolut']*5, ['Top Speed Acheived (mph)' ])  
df_speed2 = pd.DataFrame(Hennessey_Venom_F5 , ['Hennessey Venom F5']*5, ['Top Speed Acheived (mph)'])
df_speed3 = pd.DataFrame(Bugatti_Bolide, ['Bugatti Bolide']*5, ['Top Speed Acheived (mph)'])  
df_speed4 = pd.DataFrame(Bugatti_Chiron_Super_Sport300, ['Bugatti Chiron Super Sport300']*5, ['Top Speed Acheived (mph)'])
df_speed5 = pd.DataFrame(SSC_Tuatara, ['SSC Tuatara']*5, ['Top Speed Acheived (mph)'])
df_speed6 = pd.DataFrame(Rimac_Nevera, ['Rimac Nevera']*5, ['Top Speed Acheived (mph)'])  
df_speed7 = pd.DataFrame(Aston_Martin_Valkyrie, ['Aston Martin Valkyrie']*5, ['Top Speed Acheived (mph)'])
df_speed8 = pd.DataFrame(Koenigsegg_Gemera, ['Koenigsegg Gemera']*5, ['Top Speed Acheived (mph)'])  
df_speed9 = pd.DataFrame(Pagani_Huayra_BC_Pacchetto_Tempesta, ['Pagani Huayra BC Pacchetto Tempesta ']*5, ['Top Speed Acheived (mph)'])
df_speed10 = pd.DataFrame(Lamborghini_Aventador_LP780_4_Ultimae_Coupe, ['Lamborghini Aventador LP780_4 Ultimae Coupe']*5, ['Top Speed Acheived (mph)'])
df_speed11 = pd.DataFrame(Pininfarina_Battista, ['Pininfarina Battista']*5, ['Top Speed Acheived (mph)'])  
df_speed12 = pd.DataFrame(Mercedes_AMG_One, ['Mercedes_AMG One']*5, ['Top Speed Acheived (mph)'])
df_speed13 = pd.DataFrame(Ford_GT, ['Ford GT']*5, ['Top Speed Acheived (mph)']) 

##Need to concatenate the dataframes into one column
speeds = pd.concat([df_speed1, df_speed2, df_speed3, df_speed4, df_speed5, 
                  df_speed6, df_speed7, df_speed8, df_speed9, df_speed10, 
                  df_speed11, df_speed12, df_speed13])
speeds.index.name='Car'
speeds

                          Top Speed Acheived (mph)
Car
Koenigsegg Jesko Absolut                       322
Koenigsegg Jesko Absolut                       328
Koenigsegg Jesko Absolut                       314
Koenigsegg Jesko Absolut                       308
Koenigsegg Jesko Absolut                       316
...                                            ...
Ford GT                                        211
Ford GT                                        151
Ford GT                                        203
Ford GT                                        187
Ford GT                                        186

[65 rows x 1 columns]

In [5]:
##Accerlation times Time it takes to roughly go from 0-60mph

#####This time I am making a random 5x1 array with floats rounded to 2 decimal places
####This is a lot more loosely based on the source but they're all between 1-6 seconds
####The source just uses different cars so I decided it did not need to be exactly precise except in concept

###Acceleration times RNG
Koenigsegg_Jesko_Absolut_acc = np.round(np.random.uniform(1.8,5, size=(5,1)), decimals = 2)
Hennessey_Venom_F5_acc = np.round(np.random.uniform(1.9,5, size=(5,1)), decimals = 2)
Bugatti_Bolide_acc = np.round(np.random.uniform(1.9,5, size=(5,1)), decimals = 2)
Bugatti_Chiron_Super_Sport300_acc = np.round(np.random.uniform(2.3,5, size=(5,1)), decimals = 2)
SSC_Tuatara_acc = np.round(np.random.uniform(2.4,5, size=(5,1)), decimals = 2)
Rimac_Nevera_acc = np.round(np.random.uniform(2.5,5, size=(5,1)), decimals = 2)
Aston_Martin_Valkyrie_acc  = np.round(np.random.uniform(2.7,10, size=(5,1)), decimals = 2)
Koenigsegg_Gemera_acc  = np.round(np.random.uniform(2.5,5, size=(5,1)), decimals = 2)
Pagani_Huayra_BC_Pacchetto_Tempesta_acc = np.round(np.random.uniform(2.8,5, size=(5,1)), decimals = 2)
Lamborghini_Aventador_LP780_4_Ultimae_Coupe_acc  = np.round(np.random.uniform(2.8,5, size=(5,1)), decimals = 2)
Pininfarina_Battista_acc  = np.round(np.random.uniform(3,6, size=(5,1)), decimals = 2)
Mercedes_AMG_One_acc  = np.round(np.random.uniform(3.2,6, size=(5,1)), decimals = 2)
Ford_GT_acc  = np.round(np.random.uniform(3.3,6, size=(5,1)), decimals = 2)

## These are the dataframes containing the acceleration times for each of the 5 runs per vehicle
df_acc_time1 = pd.DataFrame(Koenigsegg_Jesko_Absolut_acc, ['Koenigsegg Jesko Absolut']*5, ['0-60mph Time (s)' ])  
df_acc_time2 = pd.DataFrame(Hennessey_Venom_F5_acc , ['Hennessey Venom F5']*5, ['0-60mph Time (s)'])
df_acc_time3 = pd.DataFrame(Bugatti_Bolide_acc, ['Bugatti Bolide']*5, ['0-60mph Time (s)'])  
df_acc_time4 = pd.DataFrame(Bugatti_Chiron_Super_Sport300_acc, ['Bugatti Chiron Super Sport300']*5, ['0-60mph Time (s)'])
df_acc_time5 = pd.DataFrame(SSC_Tuatara_acc, ['SSC Tuatara']*5, ['0-60mph Time (s)'])
df_acc_time6 = pd.DataFrame(Rimac_Nevera_acc, ['Rimac Nevera']*5, ['0-60mph Time (s)'])  
df_acc_time7 = pd.DataFrame(Aston_Martin_Valkyrie_acc, ['Aston Martin Valkyrie']*5, ['0-60mph Time (s)'])
df_acc_time8 = pd.DataFrame(Koenigsegg_Gemera_acc, ['Koenigsegg Gemera']*5, ['0-60mph Time (s)'])  
df_acc_time9 = pd.DataFrame(Pagani_Huayra_BC_Pacchetto_Tempesta_acc, ['Pagani Huayra BC Pacchetto Tempesta ']*5, ['0-60mph Time (s)'])
df_acc_time10 = pd.DataFrame(Lamborghini_Aventador_LP780_4_Ultimae_Coupe_acc, ['Lamborghini Aventador LP780_4 Ultimae Coupe']*5, ['0-60mph Time (s)'])
df_acc_time11 = pd.DataFrame(Pininfarina_Battista_acc, ['Pininfarina Battista']*5, ['0-60mph Time (s)'])  
df_acc_time12 = pd.DataFrame(Mercedes_AMG_One_acc, ['Mercedes_AMG One']*5, ['0-60mph Time (s)'])
df_acc_time13 = pd.DataFrame(Ford_GT_acc, ['Ford GT']*5, ['0-60mph Time (s)']) 

##Need to concatenate the dataframes into one column
accelerations = pd.concat([df_acc_time1, df_acc_time2, df_acc_time3, df_acc_time4, df_acc_time5, 
                  df_acc_time6, df_acc_time7, df_acc_time8, df_acc_time9, df_acc_time10, 
                  df_acc_time11, df_acc_time12, df_acc_time13])
accelerations.index.name='Car'
accelerations

                          0-60mph Time (s)
Car
Koenigsegg Jesko Absolut              2.80
Koenigsegg Jesko Absolut              4.18
Koenigsegg Jesko Absolut              3.22
Koenigsegg Jesko Absolut              4.46
Koenigsegg Jesko Absolut              2.31
...                                    ...
Ford GT                               3.95
Ford GT                               5.47
Ford GT                               3.34
Ford GT                               4.58
Ford GT                               4.78

[65 rows x 1 columns]

In [11]:
speeds.append(accelerations)

C:\Users\Wolfman\AppData\Local\Temp\ipykernel_12412\2365667257.py:1: FutureWarning:

The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

                          Top Speed Acheived (mph)  0-60mph Time (s)
Car
Koenigsegg Jesko Absolut                     322.0               NaN
Koenigsegg Jesko Absolut                     328.0               NaN
Koenigsegg Jesko Absolut                     314.0               NaN
Koenigsegg Jesko Absolut                     308.0               NaN
Koenigsegg Jesko Absolut                     316.0               NaN
...                                            ...               ...
Ford GT                                        NaN              3.95
Ford GT                                        NaN              5.47
Ford GT                                        NaN              3.34
Ford GT                                        NaN              4.58
Ford GT                                        NaN              4.78

[130 rows x 2 columns]